.Contacts {
  background-image: url('./images/bg.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  header {
    z-index: 1;
  }
  &-blend_layer {
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(14, 150, 90, 0.64);
    mix-blend-mode: multiply;
    transition: background .12s ease-out;
  }
  &-Kasper, &-title {
    font-size: 15vmin;
    font-family: 'Marck Script', sans-serif;

  }
  &-Kasper {
    display: none;
    bottom: 2.2vmin;
    a {
      font-size: 7vmin;
      color: rgba(0, 128, 0, 0.8);
      text-shadow: .42vmin .32vmin .12vmin rgba(161, 0, 158, 0.64);
    }
  }
  &-title {
    span {
      letter-spacing: -4.2vmin;
    }
    color: rgba(167, 227, 172, 0.75);
    text-shadow: 1vmin 1vmin 1vmin rgba(128, 50, 87, 0.87);
    top: 4.2vmin;
  }
  &-back_button {
    filter: invert(1);
    transition: transform .2s ease-out, opacity .42s ease;
    padding: 0;
    z-index: 5;
    cursor: pointer;
    position: absolute;
    left: 4.2vmin;
    top: 5.2vmin;
    width: 12vmin;
    height: 12vmin;
    background: url(./images/back.svg) center center no-repeat;
    border-radius: 3.1415926535vmin;
    opacity: .64;
    background-size: contain;
    box-shadow: none;
    border: none;
    &:focus {
      outline: none;
      transform: scale(1.12);
    }
    &:hover {
      opacity: 1;
    }
  }
  address {

  }
  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 64vw;

    @media screen and (orientation: portrait) {
      flex-wrap: wrap;
      li {
        width: 34%;
        margin-bottom: 3vmin;
      }
    }

  }
  li {
    width: 22%;
    position: relative;
    margin-bottom: 6vmin;
  }
}
